/* Lista de Clientes */
clients-list {
  padding: 0 1rem 180px;
}
.search-bar-container {
  margin-bottom: 1rem;
  padding: 1rem;
  position: sticky;
  top: 72px;
  background: #f0f2f5;
  z-index: 5;
}
add-client-page client-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin: 0 1rem 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* Perfil do Cliente */
.avatar-section {
  text-align: center;
  padding: 2rem;
  background: var(--sv-sodalita);
  color: white;
}
.avatar-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  margin: 0 auto 10px;
  overflow: hidden;
  background: #eee;
  position: relative;
}
.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

client-perfil-page client-perfil-form,
add-client-page add-client-form {
  margin: -30px 0 0px;
  padding: 0 1rem;
}

client-perfil-page card-ea-client,
add-client-page card-ea-client {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  overflow: hidden;
}

client-perfil-page card-ea-header,
add-client-page card-ea-header {
  background: #f725;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: var(--sv-sombra-azul);
}
client-perfil-page card-ea-body,
add-client-page card-ea-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}
add-client-page card-ea-body button {
  font-size: 1rem !important;
  font-weight: normal;
  text-transform: capitalize;
}
