.ea-card {
  font-size: 2.5vw;
  display: grid !important;
  grid-template-columns: 0.35fr 0.65fr;
  width: 100%;
  /* height: 36.3vw; */
  aspect-ratio: 3.8 / 1;
  padding: 1vw;
  inset: 0;
  color: #f5f5f5;
  filter: var(--appbar-filter-shadow);

  margin: 0;

  background-image: url("/public/pix/bgs/bg3.png");
  background-color: #0009;
  background-size: cover;
  border-radius: 1rem;
}
.card {
  background: var(--sv-sombra-azul);
  color: #f5f5f5;
  font-size: 2.5vw;
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  width: 100%;
  aspect-ratio: 3.8 / 1;
  padding: 1vw;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  border-radius: 1rem;
  background-image: url("/public/pix/bgs/bg4.png");
  background-image: url("/public/pix/bgs/bg3.png");
  background-size: cover;
  background-blend-mode: overlay;
}

.logoArea {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100vw;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.25vw;
  height: 95%;
  aspect-ratio: 1.8 / 1;
}

.nameImg {
  width: 100%;
  margin-bottom: 0.2em;
}

.description t5,
.description t {
  display: block;
  line-height: 1.2;
}

.contactLink {
  color: inherit;
  text-decoration: none;
}

@media print {
  .card {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
