/* FAB.css */
.fabContainer {
  position: fixed;
  bottom: 120px;
  right: 20px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 25px;
  z-index: 9000;
  transition: bottom 0.3s ease;
}

/* regra para o @param do jsx */
.fabContainer.no-nav {
  bottom: 30px;
}

.fab {
  width: 65px;
  height: 60px;
  background-color: #ffcc00;
  color: #333 !important;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: none;
}

.fabActive {
  transform: rotate(45deg);
  background-color: #333;
  color: #ffcc00 !important;
}

.fabOptions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.2rem;
  align-items: flex-end;
}

.optionItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.label {
  background: var(--card-lv3);
  color: white;
  padding: 5px 12px;
  border-radius: 8px 0 0 8px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-right: -5px;
  z-index: 1;
  box-shadow: 0 0 0 8px var(--card-lv1);
}

.miniFab {
  width: 60px;
  height: 60px;
  background: #a7ebe5;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 8px var(--card-lv1);
  z-index: 2;
  border: none;
  font-size: 1.5rem;
}

.blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 8500;
  transition: 0.3s;
}

@media print {
  .fabContainer,
  .blurOverlay {
    display: none !important;
  }
}
