cliente-section,
page-content {
  display: flex;
  flex-direction: column;
}
page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

page-content {
  padding: 1rem;
}

cliente-fieldset {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.drawer {
  background: rgb(21, 25, 35);
  background: #212329;
  background: #e5e5e5;
  padding: 1rem;
  align-items: center;
  border-radius: 30px 30px 0 0;
  gap: 1rem;
}

.drawer-searchbar {
  margin-bottom: 1rem;
}

.searchbar {
}

.MagnifyingGlass {
}

client-name_input {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 100%;
  height: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
client-name_input > label {
  width: 100%;
}
client-name_label {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}

btn_select-cliente {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  background: #27f5;
  color: white;
  color: #00559c;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-top: #00559c55 2px solid;
  border-left: #00559c55 2px solid;
  border-right: #00559c55 2px solid;
  border-radius: 0.7rem 0.7rem 0 0;
  margin-right: calc(0% + 0.5rem);
}

btn_add-cliente:hover {
  background: #15f;
}

.client-name_input {
  padding-left: 2.5rem;
}

.btn_add-newClient {
  flex: 0.1;
  background: var(--sv-sodalita);
  color: #fff;
  display: grid;
  place-items: center;
}

clients-name_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
  background: #f5f5f5;
  border-radius: 0.8rem;
  scrollbar-color: transparent;
  scrollbar-width: none;
}

client-name_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
  padding: 0.5rem 1rem;
  border: #0000 0px solid;
  /* background: #fff; */
  border-radius: 1rem;
}

divisor {
  width: 100%;
  height: 1px;
  /* padding: 0.5rem 0; */
  display: grid;
  place-items: center;
}
divisor > section {
  width: 90%;
  height: 1px;
  background: #00559c30;
}

/**
* --- [ address inputs ]
* */
logradouro_numero-inputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

logradouro-input {
  flex: 1;
}

numero-input {
  flex: 0.3;
}

grid-duo {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}
label > t {
  display: grid;
  font-weight: bold;
  color: #333;
  font-size: 0.8rem;
  gap: 0;
  padding: 0.5rem 0;
  font-family: "Poppins", sans-serif !important;
}

input,
select,
button,
btn {
  font-family: "Poppins", sans-serif !important;
  height: 56px;
  width: 100%;
  flex: 1;
  border-radius: 9px;
  border: #e5e5e500 1px solid;
  outline: transparent;
  padding: 1rem;
  font-size: 1rem;
  background: #f5f5f5;
  color: var(--text, #666);
  accent-color: var(--accent, #daa520);
}
select {
  color: #666 !important;
}
input:focus-visible {
  border: #0000 0px solid !important;
  outline: none;
  box-shadow: #0000 0 0 0 0;
}

[nodeName$="-fieldset"],
[attribute$="-fieldset"],
cep-fieldset {
  background: #ffab00;
}
.cepLoading {
  font-size: 0.8rem;
  color: #28a745;
  font-weight: normal;
}
